# $Id: 3proxy.cfg,v 1.1 2026/01/01 01:01:01 root Exp $
#
# /etc/3proxy/conf/3proxy.cfg

nscache 65536
nserver 1.1.1.1
nserver 1.0.0.1

config /conf/3proxy.cfg
monitor /conf/3proxy.cfg

log /logs/3proxy-%y%m%d.log D
rotate 180
counter /count/3proxy.3cf

users $/conf/passwd

include /conf/counters
include /conf/bandlimiters

# socks proxy usr auth
#
auth strong
flush
deny * * 127.0.0.1
allow *
maxconn 500
socks -p1080

# admin web usr auth
#
auth strong
flush
allow admin
maxconn 5
admin -p8043

# proxy web ip auth
#
auth iponly
flush
deny * * 127.0.0.1
allow * 192.168.0.100,10.0.0.100
maxconn 1000
proxy -n -p8080

# ---
